{% block stylesheet %}

{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
Vous vous êtes bien déconnecté !
<br><button class="start" onclick="window.location.href='?c=index&t=index' ;"> Retour à la page d'accueil</button>
<br><button class="start" onclick="window.location.href='?c=user&t=login' ;"> Se reconnecter</button>

{% endblock %}
 